body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: white;
}

.logo{
  height: 95px;
  margin-top: 10px;
}



/* Nav sytling */

nav{
height: 110px;
background-color: white;
border-color: grey;
}

.page-footer {
  background-color: white;
  color: #EF592B;
  border-top: grey;
}

main {
  flex: 1 0 auto;
}

footer {
  padding-top: 0;
  text-align: right;
}



.poster-image{
  max-width: 200px;
}

